<!DOCTYPE html>
<html>

<head>
    <% include frame/head %>
</head>

<body>
    <table class="table-dark" align="center" style="border-radius: 5px; width: 80%;">
        <tr>
            <td>
                <h4 style="margin: 20px; background-color:#212121; padding:10px; border-radius: 5px;"><%= userid %>'s
                    Wallet</h4><br>
                <h5>
                    <lable style="margin: 20px; margin-bottom:0px; margin-right:0px;">Address</lable>
                    <button type="button" id="copy" class="btn btn-secondary"
                        style="float: right; margin-right: 20px;">COPY</button>
                </h5>
                <h6 style="margin: 20px; word-break:break-all;" id="addr"><%= public_key %></h6> <br>
                <h5>
                    <lable style="margin: 20px;">Balance</lable>
                </h5>
                <h6 style="margin: 20px;"><%= balance %> Ether </h6><br>
            </td>
        </tr>
        <tr align="center">
            <td>
                <button type="button" class="btn btn-secondary" style="width: 161px; height: 38px;"
                    id="faucet">Faucet</button>
                <button type="button" class="btn btn-secondary" style="width: 161px; height: 38px;"
                    id="send">전송</button>
        </tr>
        <tr align="center">
            <td>
                <button type="button" class="btn btn-secondary" style="width: 161px; height: 38px;"
                    id="logout">로그아웃</button>
                <button type="button" class="btn btn-secondary" style="width: 161px; height: 38px;" id="getPK">개인키
                    가져오기</button>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                <div class="table-wrapper-scroll-y" style="margin: 20px; margin-bottom: 0px;">
                    <h5><label for="exampleInputEmail1">History</label></h5>
                    <div style="width: 100%; height:250px; overflow-y:auto; overflow-x: hidden; margin-bottom: 20px;">
                        <table class="table table-hover" id="txList" style="table-layout: fixed;">
                            <tbody>
                                <%- TxHashList %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>




    <% include frame/bootstrap %>
    <script>
        $('#send').click(function () {
            window.location.href = '/send'
        })
        $('#getPK').click(function () {
            window.location.href = '/getPrivateKey'
        })
        $('#logout').click(function () {
            window.location.href = '/logout'
        })
        $('#copy').click(function () {
            let addr = $('#addr').text()
            copyToClipboard(addr)
            alert('Copied!')
        })


        function TxList(txHash) {
            return `<tr>
                        <td><a href = https://ropsten.etherscan.io/tx/${txHash}>${txHash}</a></td>
                    </tr>`
        }
        $('#faucet').click(function () {
            let addr = $('#addr').text()
            $.ajax({
                type: 'POST',
                url: 'https://faucet.metamask.io',
                data: addr,
                success: function (txHash, body) {
                    alert('요청성공')
                    $('#txList').append(TxList(txHash))
                    $.ajax({
                        type: 'POST',
                        url: '/main',
                        data: { txHash: JSON.stringify(txHash) }
                    })
                },
                error: function ({ status }) {
                    if (status === 429) {
                        alert('충분한 금액을 가지고 있거나 요청이 많습니다. 잠시후에 다시 시도해주세요.')
                    }
                    if (status === 500) {
                        alert('서버 에러')
                    }
                }
            })
        })

        function copyToClipboard(val) {
            var t = document.createElement("textarea");
            document.body.appendChild(t);
            t.value = val;
            t.select();
            document.execCommand('copy');
            document.body.removeChild(t);
        }


    </script>
</body>

</html>