<!DOCTYPE html>
<html>

<head>
    <% include frame/head %>
</head>

<body>
    <nav class="navbar">
        <table class="table-dark" align="center" style="border-radius: 5px; width:350px; height: 320px;">
            <th>
                <div class="form-sign">
                    <h4>Ether Send</h4>
                    <label>PASSWORD</label>
                    <input type="password" id='password' class="form-control" placeholder="비밀번호"><br>
                    <label>To</label>
                    <input type="text" id='toAddr' class="form-control" placeholder="받는 주소"><br>
                    <label>Gas Price</label>
                    <input type="text" id='gasPrice' class="form-control" value="10"><br>
                    <label>Value</label>
                    <input type="text" id='value' class="form-control" placeholder="전송량"><br>
                    <label>inputData</label>
                    <input type="text" id='inputData' class="form-control" placeholder="보낼 내용"><br>
                    <button type="button" id="send" class="btn btn-lg btn-secondary btn-block">전송</button>
                    <button id="mainPage" class="btn btn-lg btn-secondary btn-block">취소</button>
                </div>
            </th>
        </table>
    </nav>

    <% include frame/bootstrap %>

    <script>
        $('#send').click(function () {
            $.ajax({
                type: 'POST',
                url: '/send',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    'password': $('#password').val(),
                    'toAddr': $('#toAddr').val(),
                    'gasPrice': $('#gasPrice').val(),
                    'value': $('#value').val(),
                    'inputData': $('#inputData').val()
                }),
                success: function (result, body, { status }) {
                    alert('전송 중입니다.')
                    if (status === 201) {
                        alert(result.message)
                    } else if (status === 202) {
                        alert('잔액 혹은 가스비가 부족합니다.')
                    } else if (status === 200) {
                        alert('전송 성공!')
                        window.location.href = '/main'
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })
        $('#mainPage').click(function () {
            window.location.href = "/main"
        })
    </script>
</body>

</html>